/* font family for all */



body {
    /* body er jaigai (*)star k selector hisebe use kore ei (font-family) property er style ta dewa jabe. */
    font-family: "Open Sans", sans-serif;

}


/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    /* nav er (h3,ul) item gulo 2ta 2pashe sundor vabe 4pashe jaiga reke boshar jonno justify-content propery use kora hoyece.*/
    align-items:center; /* nav er vitore thaka h3,& ul tag k eki line e soman vabe majkane boshanor jonno align-items property use kore center e ana hoyece.  */
    margin:0 200px;
    
}

nav>.nav_mary {
    font-size: 45px;
    font-weight: 800px;
    color: black;
}

.orange-color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
    /* ul er vitore thaka li tag gulo k eki line e soman vabe majkane boshanor jonno align-items property use kore center e ana hoyece.  */
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.btn-hire_me , .btn-download-cv {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 0; /* defualt vabe border diye dei, tai border 0 dile kuno border dekabena.*/
    padding: 15px 30px;
}

.btn-contact{
padding: 15px 35px;
border:2px solid #FD6E0A;
font-size: 20px;
border-radius: 10px;
color:#FD6E0A;

}


 header .banner{
    padding: 30px 30px 0px 150px;
    background-color: rgb(255, 222, 239);
    align-items: center;    /* vertical aling-item property te center na korle picture ar texts content eki line,eki width borabor boshtona  */
    display: flex;    /* display flex korai man & texts content gulo flex hoye pashapashi bosce */
    justify-content: space-between;
background-image: url(../images/banner_bg.png);
background-repeat: no-repeat;
background-position:bottom right;

 }

 .banner .banner-texts{
    max-width: 585px;
 }

 .man_img{
    width: 500px;
 }

 .banner .banner-h3_hi{
    font-size: 45px;
    margin: 0 0;
    font-weight: 600;
 }
 .banner .banner-h1_mary{
    font-size: 85px;
    margin: 0 0;
    font-weight: 700;
 }

 .banner .banner-p{
    color:rgb(101, 101, 101);
    font-weight: 100;
 }


 /* main section styles */

 main >article{
    background-color:rgb(255, 222, 239) ;
    align-content: center;
    margin: 80px;
 
 }

 .about_section1{
    background-color: white;
    margin: 100px;
    text-align: center;
 }

 .about_section1 .about_me{
    font-size: 35px;
    
 }

 .about_section1 p{
    color:rgb(101, 101, 101);
    font-weight: 100;
    font-size: 15px;
    font-weight: normal;
 }